<h1>My List</h1>
<ul class="list-group list-group-numbered">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= list.name %></li>
    <%= link_to "Show this list", list %>
  <% end %>
</ul>
